# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://szsybxnvdcefwheyfiyk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6c3lieG52ZGNlZndoZXlmaXlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI1NDAwNzMsImV4cCI6MjA1ODExNjA3M30.aRNH8FaDw_6ai1Y7JuaJrnJIGVCn2Inutu97sjDngxA
